@keyframes changeColor {
    0% {
        color: black;
    }
    50% {
        color: darkgoldenrod;
    }
    100% {
        color: black;
    }
}

body {
    align-items: center;
    justify-items: center;
}

#form {
    background-color: blanchedalmond;
    margin: auto;
    max-width: 450px;
    box-shadow: 5px 5px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: changeColor 2s infinite;
    font-style: italic;
}

#checks label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    transition: color 0.5s;
}

#checks label:hover {
    color: crimson;
    cursor: pointer;
}

#subBTN {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: rgb(229, 83, 83);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#subBTN:hover {
    background-color:rgb(160, 60, 60);
}

#pword {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
